@model ShortUrl.Models.Url

@{
    ViewData["Title"] = "Edit";
}

<h3>Редактирование</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LongUrl" class="control-label"></label>
                <input asp-for="LongUrl" class="form-control" />
                <span asp-validation-for="LongUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortUrl" class="control-label"></label>
                <input asp-for="ShortUrl" class="form-control" />
                <span asp-validation-for="ShortUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Counter" class="control-label"></label>
                <input asp-for="Counter" class="form-control" />
                <span asp-validation-for="Counter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
