@model ShortUrl.Models.Url

@{
    ViewData["Title"] = "Success";
}


<div>
    <h4>Успешно укоротили Url</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LongUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortUrl)
        </dt>
        <dd class="col-sm-10">
            https://localhost:44382/Urls/ToUrl/@Html.DisplayFor(model => model.ShortUrl)
        </dd>
    </dl>
</div>


